@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;

}
@font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans",  sans-serif;
    font-size: 18;
    line-height: 21;
    color:#333333;
    background-color: #FFFFFF;
}

.button-brown {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-blue {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}
.navigation-list {
  list-style-type: none;
}


.navigation-link {
    font-family: "PT Sans";
    font-style: bold;
    line-height: 22;
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}


  /* Попытка наложить один фон на другой
  .hero {
   background-image: url("../images/index-background.jpg"), url("../images/vector.svg");
   background-position: bottom, top;
   background-size: 100% auto, 100% auto;
   background-repeat: no-repeat, repeat;
  }
  */

.hero {
    background-image: url("../images/index-background.jpg");
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
   }

   /*Преимущества*/


.advantages-list {
  list-style-type: none;
  }


.advantages-lead {
    font-family: "PT Sans";
    text-align: center;
    font-style: bold;
    font-size: 30;
    line-height: 36;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
}

.advantages-basic {
    font-family: "PT Sans";
    text-align: center;
    font-style: normal;
    font-size: 22;
    line-height: 26;
    font-weight: 400;
    color: #333333;
    background-color: #FFFFFF;
}

.advantages-item-1 {
    width: 400;
    height: 385;
    padding: 103, 85, 103, 85;
    gap: 10;
    background-color:#82B3D3;
}

.advantages-title-1 {
    font-family: "PT Sans";
    font-style: bold;
    text-transform: uppercase;
    font-size: 24;
    line-height: 28;
    color: #ffffff;
}

.advantages-description-1 {
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18;
    line-height: 21;
    color: #ffffff;
}

.advantages-item-2 {
    height: 385;
    width: 400;
    padding: 103,85,103,85;
    background-color:rgba(131, 179, 211, 0.12);
}

.advantages-title-2 {
    font-family: "PT Sans";
    font-style: bold;
    text-transform: uppercase;
    font-size: 24;
    line-height: 28;
    color: #000000;
}

.advantages-description-2 {
    font-family: "PT Sans";
    font-style: normal;
    font-size: 18;
    line-height: 21;
    color: #333333;
}

.advantages-item-3 {
    height: 385;
    width: 400;
    left: 400;
    padding: 103,85,103,85;
    background-color: rgba(131, 179, 211, 0.2);
}

/*Инфраструктура*/

.infrastructure-list{
  list-style-type: none;
}

.infrastructure-lead{
    font-family: "PT Sans";
    text-align: center;
    font-style: bold;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30;
    line-height: 36;
    color: #000000;
    background-color: #FFFFFF;
}

.infrastructure-basic {
  font-family: "PT Sans";
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22;
  line-height: 26;
  color: #333333;
  background-color: #FFFFFF;
}

.infrastructure-item-1 {
  height: 385;
  width: 400;
  padding: 80,85,80,85;
  background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-title-1{
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24;
  line-height: 28;
  color:#000000;
}

.infrastructure-description-1 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18;
  line-height: 21;
  color:#333333;
}

/*Поиск гостиницы*/

.hotels-lead {
  font-family: "PT Sans";
  text-align: center;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30;
  line-height: 36;
  color: #000000;
  background-color: #FFFFFF;
}

.hotels-basic {
  font-family: "PT Sans";
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22;
  line-height: 26;
  color: #333333;
  background-color: #FFFFFF;
}

/*Рассылка*/

.sending-messages-lead {
  font-family: "PT Sans";
  text-align: center;
  font-style: bold;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30;
  line-height: 36;
  color: #ffffff;
  background-color: #000000; /*временно*/
}

.sending-messages-basic {
  font-family: "PT Sans";
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 22;
  line-height: 26;
  color: #ffffff;
  background-color: #000000; /*временно*/
}

.page-footer{
  background-color: #FFFFFF;
}

/*Контакты*/

.contacts-phone {
  font-family: "PT Sans";
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 40;
  line-height: 40;
  color: #000000;
  background-color: #FFFFFF
}

/*Страница каталога*/

.inner-header {
  background-image: url("../images/promo.jpg");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-style: bold;
  font-size: 60;
  line-height: 78;
  color:#FFFFFF;
}

.breadcrumbs-img {
  color: #FFFFFF;
}

.breadcrumbs-link {
  color: #FFFFFF;
}

.catalog-filter-title {
  font-style: bold;
  font-size: 20;
  line-height: 24;
  vertical-align: top;
  color: #FFFFFF;
}

.control {
  font-weight: 400;
}

/*Отели*/
