@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;

}


/*-----------------------------------------ОБЩИЕ СВОЙСТВА------------------------------------------------*/

html {
    height: 100%;
    background-color: #F2F2F2;
}

body {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color:#333333;
    background-color: #FFFFFF;
    width: 1200px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}

.main-container {
    flex-grow: 1;
    width: 1200px;
}

button {
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

header {
    margin:0;
    height: 64px;
}

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.navigation {
    display: flex;
    width: 1060px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.logo {
    margin: 0;
    padding: 0;
    width: 140px;
}

.navigation-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    margin-left: 28px;
    padding: 0;
    width: 339px;
    height: 64px;
}

.navigation-user {
    margin: 0;
    width: 268px;
    height: 64px;
    margin-left: auto;
}

.navigation-item-1 {
    margin: 0;
    width: 100px;
    height: 64px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
}

.navigation-item-2 {
    margin: 0;
    width: 114px;
    height: 64px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
}

.navigation-item-3 {
    margin: 0;
    width: 125px;
    height: 64px;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
}

.navigation-item-4 {
    margin: 0;
    width: 44px;
    height: 64px;
    padding-top: 22px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 22px;
}

.navigation-item-5 {
    margin: 0;
    width: 44px;
    height: 64px;
    padding-top: 22px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 22px;
}

.navigation-item-6 {
    margin: 0;
    width: 160px;
    height: 64px;
}

.button-brown-navigation {
    font-size: 16px;
    font-weight: 700;
    background-color: #756157;
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 14px;
    margin-left: 0;
    width: 160px;
    height: 36px;
}

.navigation-link {
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

.hero {
    margin: 0;
    background-image: url("../images/index-background.jpg");
    height: 485px;
    width: 1200px;
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-1 {
    margin-top: 51px;
    margin-right: 371px;
    margin-bottom: 25px;
    margin-left: 371px;
}

.hero-2 {
    margin: 0;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*-----------------------------------------СТРАНИЦА СЕДОНА------------------------------------------------*/
/*----------------------------Преимущества----------------------------*/

.advantages {
    margin: 0;
}

.advantages-lead {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    background-color: #FFFFFF;
    width: 620px;
    height: 72px;
    margin-top: 69px;
    margin-right: 290px;
    margin-bottom: 25px;
    margin-left: 290px;
}


.advantages-basic {
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    background-color: #FFFFFF;
    width: 651px;
    height: 26px;
    margin-top: 0;
    margin-right: 274.5px;
    margin-bottom: 69px;
    margin-left: 274.5px;
}

.advantages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.advantages-list-1 {
    display: flex;
    justify-content: space-between;
}

.advantages-item-1 {
    width: 400px;
    height: 385px;
    background-color:#82B3D3;
}

.advantages-title-1 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    width: 175px;
    height: 56px;
    margin-top: 102px;
    margin-right: 112.5px;
    margin-bottom: 30px;
    margin-left: 112.5px;
}

.advantages-description-1 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    width: 230px;
    height: 63px;
    margin-top: 30px;
    margin-right: 85px;
    margin-bottom: 102px;
    margin-left: 85px;
}

.advantages-item-2 {
    height: 385px;
    width: 400px;
    padding: 103px,85px,103px,85px;
    background-color:rgba(131, 179, 211, 0.12);
}

.advantages-title-2 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    width: 175px;
    height: 56px;
    margin-top: 102px;
    margin-right: 112.5px;
    margin-bottom: 30px;
    margin-left: 112.5px;
}

.advantages-description-2 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    width: 230px;
    height: 63px;
    margin-top: 30px;
    margin-right: 85px;
    margin-bottom: 102px;
    margin-left: 85px;
}

.advantages-item-3 {
    height: 385px;
    width: 400px;
    left: 400px;
    padding: 103px,85px,103px,85px;
    background-color: rgba(131, 179, 211, 0.2);
}

/*----------------------------Инфраструктура----------------------------*/
.infrastructure {
    margin: 0;
    padding: 0;
}

.infrastructure-lead{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    background-color: #FFFFFF;
    width: 505px;
    height: 72px;
    margin-top: 64px;
    margin-right: 347.5px;
    margin-bottom: 20px;
    margin-left: 347.5px;
}

.infrastructure-basic {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #FFFFFF;
    width: 490px;
    height: 26px;
    margin-top: 0;
    margin-right: 355px;
    margin-bottom: 64px;
    margin-left: 355px;
}

.infrastructure-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.infrastructure-item-1 {
    height: 385px;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
}

.infrastructure-img-1 {
    margin-top: 81px;
    margin-right: 161.5px;
    margin-bottom: 30px;
    margin-left: 163.5px;
}

.infrastructure-title-1{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
    color:#000000;
    text-align: center;
    height: 28px;
    width: 230px;
    margin-top: 30px;
    margin-right: 85px;
    margin-bottom: 30px;
    margin-left: 85px;
}

.infrastructure-description-1 {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color:#333333;
    height: 63px;
    width: 230px;
    margin-top: 30px;
    margin-right: 85px;
    margin-bottom: 81px;
    margin-left: 85px;
}

.infrastructure-item-2 {
    height: 385px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.12);
}

.infrastructure-img-2 {
    margin-top: 82px;
    margin-right: 162.5px;
    margin-bottom: 31px;
    margin-left: 163.5px;
    padding: 0;
}

.infrastructure-img-3 {
    margin-top: 79px;
    margin-right: 167.5px;
    margin-bottom: 28px;
    margin-left: 168.5px;
    padding: 0;
}

/*----------------------------Поиск гостиницы----------------------------*/

.hotels {
    padding: 0;
    margin: 0;
}

.hotels-lead {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    background-color: #FFFFFF;
    height: 36px;
    width: 297px;
    margin-top: 96px;
    margin-right: 451.5px;
    margin-bottom: 20px;
    margin-left: 451.5px;
    padding: 0;
}

.hotels-basic {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    background-color: #FFFFFF;
    height: 52px;
    width: 592px;
    margin-top: 0;
    margin-right: 304px;
    margin-bottom: 54px;
    margin-left: 304px;
    padding: 0;
}

.button-brown-hotels {
    font-size: 20px;
    font-weight: 700;
    background-color: #756157;
    margin-top: 0;
    margin-right: 412px;
    margin-bottom: 96px;
    margin-left: 412px;
    width: 376px;
    height: 52px;
}

/*----------------------------Рассылка----------------------------*/

.sending-messages {
    background: #ffffff url("../images/subscribe.jpg");
    height: 414.8564453125px;
    width: 1200px;
    border-radius: 0;
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.sending-messages-lead {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-top: 96px;
}

.sending-messages-basic {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    height: 52.51px;
    width: 475px;
    margin-top: 20px;
    margin-right: 362.5px;
    margin-bottom: 54px;
    margin-left: 362.5px;
}

.sending-form {
    height: 52px;
    width: 684px;
    margin-right: 258px;
    margin-bottom: 104px;
    margin-left: 258px;
    padding: 0;
}

.appointment-form {
    display: flex;
    height: 52px;
}

.form-text {
    width: 452px;
    background-color: #F2F2F2;
    font-weight: 400;
    font-size: 18px;
    padding-top: 14px;
    padding-left: 20px;
    padding-bottom: 14px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin: 0;
    border-color: #F2F2F2;
}

.button-blue-form {
    font-size: 20px;
    font-weight: 700;
    background-color: #82B3D3;
    width: 232px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-footer{
    background-color: #FFFFFF;
    height: 70px;
    width: 1060px;
    margin: 0;
    padding: 70px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.page-footer-2{
    display: flex;
    background-color: #FFFFFF;
    height: 50px;
    width: 1060px;
    margin: 0;
}

.footer-social-media {
    height: 40px;
    width: 142px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-social-media-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 142px;
}

.footer-social-media-item-1 {
    margin: 0;
    height: 40px;
    width: 47.33px;
    padding-top: 13px;
    padding-left: 11.67px;
    padding-bottom: 13px;
    padding-right: 11.67px;
}

.vk {
    margin: 0;
    padding: 0;
}

.footer-social-media-item-2 {
    margin: 0;
    height: 40px;
    width: 47.33px;
    padding-top: 12px;
    padding-left: 14.67px;
    padding-bottom: 12.9px;
    padding-right: 14.67px;
}

.telegram {
    margin: 0;
    padding: 0;
}

.footer-social-media-item-3 {
    margin: 0;
    height: 40px;
    width: 47.33px;
    padding-top: 11.5px;
    padding-left: 12.67px;
    padding-bottom: 11.5px;
    padding-right: 12.67px;
}

.youtube {
    margin: 0;
    padding: 0;
}

/*----------------------------Контакты----------------------------*/

.footer-contacts {
    height: 50px;
    width: 720px;
    margin: 0;
    padding: 5px;
    padding-left: 195px;
    padding-right: 194px;
}

.contacts-phone {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 7px;
    height: 40px;
    width: 331px;
}

.footer-website {
    height: 33px;
    width: 115px;
    margin: 0;
    padding-top: 8.5px;
    padding-bottom: 8.5px;
}

/*-----------------------------------------СТРАНИЦА КАТАЛОГА------------------------------------------------*/
/*----------------------------Панель----------------------------*/


.main-inner{
    margin:0;
    padding: 0;
}

.inner-container {
    color: #ffffff;
    height: 412px;
    background-color: #3e75a0;
    background-image: url("../images/promo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px;
    padding-bottom: 40px;
    padding-top: 35px;
  }

  .inner-header-container {
    width: 1060px;
    margin: 0 auto;
  }

/*.inner-header {
    background-image: url("../images/promo.jpg");
    height: 412px;
    width: 1200px;
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}*/

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color:#FFFFFF;
    height: 78px;
    margin: 0;
    margin-bottom: 8px;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

.item-icon {
    min-width: 12px;
    min-height: 12px;
  }

.breadcrumbs-item:not(:last-child) {
    margin-right: 10.5px;
}

.breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

/*----------------------------меню выбора----------------------------*/
.catalog-products {
    margin-top: 69px;
}


.catalog-filter{
    display: flex;
}

.catalog-filter-group-1 {
    width: 150.43px;
    height: 157px;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 30px;
    margin-right: 70px;
}
.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0;
    margin-bottom: 32px;
}


.catalog-filter-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog-filter-item:not(:last-child) {
    margin-bottom: 16px;
  }

.control {
    font-weight: 400;
    display: block;
    position: relative;
    padding-left: 36px;
  }

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  left: 0;
  cursor: pointer;
}

.control-mark-checkbox {
  border-radius: 4px;
}

.control-mark-radio {
  border-radius: 50%;
}

.control-label {
    line-height: 23px;
    cursor: pointer;
}

.catalog-filter-group-2 {
    width: 150.43px;
    height: 157px;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 30px;
    margin-right: 140.15px;
}

.catalog-filter-group-3 {
    width: 288px;
    height: 160px;
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 30px;
    margin-right: 70px;
}

.filter-button {
    width: 191px;
    padding-top: 56px;
    margin-bottom: 30px;
  }

.catalog-filter-button {
  text-align: center;
  width: 191px;
  font-size: 16px;
  line-height: 20px;
}

.select {
  margin-bottom: 32px;
}

.reset {
  background-color: transparent;
}

.button-catalog {
    font: inherit;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px;
    display: inline-block;
  }

  .button-blue-catalog {
    background-color: #82b3d3;
  }

/*----------------------------Отели----------------------------*/

.hotel-list {
    list-style-type: none;
}

.search {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    vertical-align: top;
    text-transform: uppercase;
    color: #000000;
}

.select-control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    vertical-align: top;
    color: #333333;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    vertical-align: top;
    text-decoration: none;
    color: #000000;
}

.hotel-card-type {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    vertical-align: top;
    color: #333333;
}

.hotel-card-price{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    vertical-align: top;
    color: #333333;
}

.search {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    vertical-align: top;
    color: #333333;
}

/*----------------------------Пагинация----------------------------*/

.pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination-item:not(:last-child) {
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 11.36px;
    padding-bottom: 12.64px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
  }

  .pagination-current {
    color: #000000;
    background-color: #F2F2F2;
  }

  .pagination-disabled {
    color: #000000;
    background-color: #ffffff;
  }


/*----------------------------Рассылка----------------------------*/
.sending-messages-1 {
    background: #FFFFFF;
    height: 414.8564453125px;
    width: 1200px;
    border-radius: 0;
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.sending-messages-lead-1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    margin: 0;
    padding: 0;
    padding-top: 96px;
}

.sending-messages-basic-1 {
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    height: 52.51px;
    width: 475px;
    margin-top: 20px;
    margin-right: 362.5px;
    margin-bottom: 54px;
    margin-left: 362.5px;
}
